/* Página Inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007BFF;
    padding: 10px 20px;
    text-align: center;
}



main {
    margin: 50px;
    text-align: center;
}

h1 {
    color: #007BFF;
}


<!--________Final da primeira página________________________________________-->
